.typography.gas-timing {
  color: var(--color-text-alternative);

  &__text {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--color-text-alternative);
  }

  &--positive {
    margin-left: 5px;
    color: var(--color-success-default);
  }

  &--warning {
    margin-left: 5px;
    color: var(--color-warning-default);
  }

  &--negative {
    margin-left: 5px;
    color: var(--color-error-default);
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: var(--color-error-default);
    }
  }
}
